:root {
  --color-primary: #4b69fd;
  --color-secondary: #fff9eb;
  --color-tertiary: #c4c4c4;
  --color-button: #fe652b;
  --color-button-hover: #e55720;
  --color-text: #444444;
  --color-white: #ffffff;
  --color-green: #05df05;
}

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-primary);
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Banner */
.header-banner {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.header-banner img {
  width: 15rem;
}


/* Conteúdo de entrada */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  flex: 1;
  height: 100%;
  width: 100%;
}

/* Seção de entrada */
.input-section {
  background-color: var(--color-secondary);
  border: 1px solid #000;
  border-radius: 64px 64px 0 0;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Títulos */
.main-title {
  font-size: 3em;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: var(--color-white);
}

.section-title {
  font-family: "Inter", serif;
  font-size: 2em;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

/* Contêineres de entrada e botão */
.friend-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.form-control {
  display: flex;
  align-items: center;
}

.input-name {
  width: 100%;
  padding: 0.55rem 0.75rem;
  border-width: 2px;
  border-right: 0;
  border-style: solid;
  border-color: #000;
  border-radius: 25px 0 0 25px;
  font-size: 1em;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Estilos de entrada de texto */
input:focus {
  outline: 2px solid var(--color-primary);
}

.input-title {
  flex: 1;
  padding: 0.75em 1em;
  font-size: 1em;
  border: 2px solid #333;
  border-right: none;
  border-radius: 25px 0 0 25px;
  font-family: "Merriweather", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.error-message {
  color: red;
  font-size: 1em;
  margin-top: 0.5rem;
  display: none;
  text-align: center;
}

/* Estilos de botão */
button {
  padding: 1em;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  border: 2px solid #000;
  border-radius: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--color-primary);
}

.button-add {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 0.5rem 0.75rem;
}

.button-add:hover {
  background-color: #a1a1a1;
}

/* Listas */
ul {
  list-style-type: none;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-size: 1.125em;
  margin: 1.25rem 0;
}

.name-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.name-list li {
    background-color: var(--color-tertiary);
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.name-list li.sorted {
  background-color: var(--color-green);
  color: var(--color-white);
}

.result-list {
  margin-top: 15px;
  color: #05df05;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Botão de sortear e de limpar*/
.button-draw, .button-clear {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5rem 0.75rem;
  font-size: 1em;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.button-draw img, .button-clear img {
  width: 1.5em;
}

.button-draw {
  background-color: var(--color-button);
  color: var(--color-white);
}

.button-draw:hover {
  background-color: var(--color-button-hover);
}

.button-clear {
  background-color: var(--color-tertiary);
  color: var(--color-text);
}

.button-clear:hover {
  background-color: #a1a1a1;
}


/* Aumentar fonte para tella maiores  */
@media screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }
}
